.btn-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.btn {
  width: 300px;
  height: fit-content;
  font-size: 28px;
  padding: 20px;
  border: 1px solid royalblue;
  border-radius: 5px;
  box-shadow: dodgerblue 2px 2px 5px;
}