.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 200px;
  display: flex;
  justify-content: center;
}
.modal {
  width: 560px;
  height: fit-content;
  border: 1px solid #3C4242;
  border-radius: 10px;
  box-shadow: #3C4242 2px 2px 5px;
  background: white;
}

.modal-header {
  display: flex;
  justify-content: end;
  padding: 15px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  text-align: center;
}

.modal-img {
  width: 276px;
  height: 140px;
  background: #D9D9D9;
}

.modal-title {
  font-family: Inter, sans-serif;
  font-size: 32px;
  line-height: 39px;
  color: #191919;
}

.modal-txt {
  font-family: "Roboto Thin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7F7F7F;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 40px;
}

.modal-btn {
  border: 1px solid #3C4242;
  border-radius: 8px;
  background: white;
  color: #8A33FD;
  width: 190px;
  height: 50px;
  font-family: "Roboto Thin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.modal-btn-active {
  border: 1px solid #8A33FD;
  border-radius: 8px;
  background: #8A33FD;
  color: white;
  width: 190px;
  height: 50px;
  font-family: "Roboto Thin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}